.main {
	display: flex;
	flex-direction: column;
	gap: 60px;
	background: #1D1825;
	padding: 65px 50px 90px;
	border-radius: 20px;
	&__title{
		display: flex;
		align-items: center;

	}
	&__tasks{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
